.product-banner-section {
  margin-top: 64px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  a {
    margin-bottom: 0;
  }
}
