.shop-aca-plans {
  padding-bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop {
    padding-bottom: 64px;
  }
  button {
    height: 60px;
  }
}
.home-page-intro-section {
  padding: 64px 16px;
  @include desktop {
    padding-bottom: 16px;
  }
  .intro-content {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    text-align: center;
    color: var(--title-color);
  }
}
