.obamacare-calculator {
  .obamacare-calculator-intro-section {
    padding: 64px 16px;
    .intro-content {
      max-width: 1080px;
      margin: 0 auto;
      text-align: center;
    }
    h2 {
      text-align: center;
      color: var(--title-color);
    }
  }
}
